@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

img#background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(45%) grayscale(20%);
}

#content {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#headline {
  color: white;
  opacity: .7;
  white-space: pre;
  font-family: 'Roboto Mono', monospace;
  line-height: 1em;
}

